/*
 * Custom sass for Generation Genius front end test
 */

$font-family: "Poppins", sans-serif
$link-color: #f17e00
$text-color: #838a8f
$text-size: 14px

body
  font-family: $font-family
  font-size: $text-size
  color: $text-color

  h1, h2, h3, h4, h5, h6
    color: #2e3840

  h2
    font-size: 20px

  h3
    font-weight: normal

  a
    color: $link-color

    &:hover
      color: lighten($link-color, 10%) !important

    &:active, &:visited
      color: $link-color

  #gen-main
    max-width: 1200px
    margin-left: auto
    margin-right: auto

    .checkout-top
      border-bottom: 1px solid #cad3d8
      margin-bottom: 20px

      h1
        font-weight: bold
        font-size: 24px
        width: fit-content
        margin-left: auto
        margin-right: auto

    .checkout-mid

      input#cc + label, input#po + label
        font-weight: bold
        cursor: pointer
        color: #2e3840
        display: block
        background-color: #f8f8f8
        line-height: 55px
        padding: 0 5%
        margin: 5px

      input#cc + label::before, input#po + label::before
        display: inline-block
        content: ''
        width: 20px
        height: 20px
        border: 2px solid #cccccc
        border-radius: 50%
        vertical-align: middle
        margin-right: 10px
        font-family: "FontAwesome" !important
        font-weight: 900

      input#cc:checked + label::before, input#po:checked + label::before
        content: "\f058" !important
        font-size: 27px
        color: #f17e00
        line-height: 21px

      input#cc:checked + label, input#po:checked + label
        background-color: #ffffff
        border: 2px solid #f17e00
        padding: 0 4%


      input#cc, input#po 
        position: absolute
        left: -999px

      .input-desc
        font-size: 14px

      fieldset
        border: none
        padding: 0

      form
        input:not([type=radio]), select
          display: block
          font-size: 14px
          font-family: $font-family
          height: 50px
          border: 1px solid #c9d2d8
          border-radius: 3px
          margin: 5px 0
          width: 100%
          flex-basis: 50%
          text-indent: 10px

        select
          color: $text-color

        select#title, select#state
          margin: 0 !important
          height: 54px

        input#your_name, select#title, input#city, select#state, input#zip
          display: inline-block

        input#your_name

          width: 100%

          @media screen and (min-width: 768px)
            width: 60%

        select#title
          width: 100%

          @media screen and (min-width: 768px)
            width: 36%

        input#city
          width: 100%

          @media screen and (min-width: 768px)
            width: 35%

        select#state
          width: 100%

          @media screen and (min-width: 768px)
            width: 28.5%

        input#zip
          width: 100%

          @media screen and (min-width: 768px)
            width: 28.5%

        .submit-wrapper
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f17e00+0,f59328+100 */
          background: #f17e00 /* Old browsers */
          background: -moz-linear-gradient(top,  #f17e00 0%, #f59328 100%) /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #f17e00 0%,#f59328 100%) /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #f17e00 0%,#f59328 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17e00', endColorstr='#f59328',GradientType=0 ) /* IE6-9 */
          border-radius: 35px
          color: #ffffff
          padding: 1%
          cursor: pointer !important
          display: flex
          flex-flow: row
          justify-content: space-between

          #submit
            background-color: transparent
            border: none
            color: #ffffff
            font-weight: bold
            cursor: pointer !important

        


      .checkout-cols-wrapper
        display: block

        .col
          flex-basis: 100%
          
          @media screen and ( min-width: 768px ) 
            flex-basis: 48%

          @media screen and ( min-width: 992px )
            flex-basis: 22%
        
        @media screen and (min-width: 768px)
          display: flex
          flex-flow: row
          flex-wrap: wrap
          justify-content: space-between

          .summary_top 
            background-color: #f0f2f3
            padding: 3% 3% 0 3%
            border-radius: 5px
            margin-bottom: 15px

            .total
              display: flex
              flex-flow: row
              justify-content: space-between
              font-size: 16px

              .amount
                color: #2e3840

          .summary_bottom
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5c135c+0,800080+100 */
            background: #5c135c /* Old browsers */
            background: -moz-linear-gradient(top,  #5c135c 0%, #800080 100%) /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #5c135c 0%,#800080 100%) /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #5c135c 0%,#800080 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c135c', endColorstr='#800080',GradientType=0 ) /* IE6-9 */
            display: flex
            flex-flow: row
            justify-content: flex-start 
            padding: 3%
            border-radius: 5px

            .promo_text
              margin-left: 10px

            i.fa-bell 
              align-self: middle

